---
import PostsCategory from "../../components/category/postsCategory.astro";
import CategorySmall from "../../components/categorySmall.astro";
import RecentPosts from "../../components/home/recentPosts.astro";
import Subscribe from "../../components/subscribe.astro";
import LayoutBlog from "../../layouts/LayoutBlog.astro";
---

<LayoutBlog>
  <div class="flex flex-col gap-4 md:gap-10">
    <div class="flex items-center gap-5 lg:gap-8">
      <CategorySmall label={"Filmes"} />
      <span>Ronald Santos</span>
      <span>30/08/25</span>
    </div>
    <h1 class="text-4xl lg:text-5xl">
      O tema de luto e amadurecimento na visão de uma criança. Conheça “O Menino
      e a Garça”
    </h1>
    <img src="/hero-home.webp" alt="Midquest" />
    <p class="text-base md:text-lg">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed aliquam
      fringilla quam, aliquam aliquet ligula consectetur in. Donec ultricies
      massa libero, nec sollicitudin quam eleifend laoreet. Nam porttitor felis
      elit, vel rutrum ex vehicula quis. Quisque ipsum ipsum, semper quis metus
      ut, aliquam mattis orci. Nunc eu condimentum nunc. Aenean faucibus
      condimentum convallis. Praesent quis scelerisque ipsum. Praesent sagittis
      nibh metus, et mollis ipsum scelerisque id. Nunc nunc felis, convallis sed
      dui vel, viverra tincidunt dui. Sed sagittis dui id volutpat mattis.
      Pellentesque habitant morbi tristique senectus et netus et malesuada fames
      ac turpis egestas. Nunc non dictum dui. Proin cursus hendrerit diam eu
      aliquam. Sed commodo varius orci at imperdiet. Nulla nunc nunc, elementum
      non vehicula quis, ultricies sit amet libero. Proin id eleifend magna.
      Morbi non porta eros. Nulla nec mauris lacinia, fermentum eros quis,
      semper magna. Maecenas ligula mauris, vehicula vitae rhoncus ac, finibus
      nec tellus. Etiam vestibulum sit amet lectus blandit commodo. Suspendisse
      a consectetur elit, non placerat dui. Nullam at neque et odio accumsan
      mattis. Suspendisse gravida arcu magna, et iaculis ante auctor id.
      Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere
      cubilia curae; Morbi tincidunt molestie purus, ac facilisis odio
      ullamcorper eu. Morbi et mi ante. Sed convallis urna libero. Mauris
      commodo velit sed urna ornare volutpat. Donec feugiat, leo sit amet
      elementum rutrum, libero nisl consectetur sem, at rhoncus magna libero id
      dui. Aenean dapibus erat ipsum, ac pulvinar neque tempor nec. Duis ac
      fringilla magna. Aliquam erat volutpat. Mauris faucibus turpis at semper
      rutrum. Vivamus ut arcu vel sapien iaculis molestie. Donec consequat
      ultrices tempor. Phasellus eu diam porta, volutpat nunc sit amet, laoreet
      magna. Etiam eget est sed ante laoreet dictum. Integer at lorem lectus.
      Phasellus volutpat, ante eget pharetra commodo, felis nisi vestibulum
      urna, quis feugiat lectus metus sit amet ipsum. Ut elit enim, lacinia ut
      placerat non, congue nec felis. Proin at molestie elit. Integer rhoncus
      purus arcu, ut vehicula eros feugiat a. Aliquam orci leo, interdum sed
      lectus ultrices, porttitor convallis magna. Integer vel sem rhoncus,
      fermentum neque in, posuere ex. Sed vehicula laoreet tortor in vestibulum.
      Integer interdum leo quis blandit hendrerit. Sed at nisl ac mi ultrices
      dictum non in ipsum. Suspendisse nisl nunc, finibus in turpis id, blandit
      placerat diam. Etiam dapibus ex quis sapien commodo, sed accumsan lacus
      laoreet. Duis erat diam, convallis in varius in, fermentum at purus.
      Quisque non elit sit amet augue sodales eleifend. In vitae mattis felis,
      nec posuere odio. Fusce eget felis ac lorem venenatis interdum ac a neque.
      Sed urna nulla, dignissim et neque non, dapibus mattis mauris. Fusce
      lacinia nunc sit amet efficitur porta. Aliquam iaculis pharetra varius.
      Phasellus sapien magna, imperdiet ut nunc vitae, placerat fringilla lacus.
      Vivamus faucibus imperdiet nisl a efficitur. Donec id tristique dolor.
      Duis metus dolor, molestie id mi at, blandit tristique quam. Integer
      mollis sem sit amet justo eleifend ultrices. Aenean maximus non felis et
      mollis. Proin dictum dapibus iaculis. Fusce vestibulum mauris vitae
      volutpat pulvinar. Aliquam sed justo tortor. Maecenas vitae urna a lacus
      bibendum placerat. Nam vel malesuada risus. Nam maximus feugiat dolor nec
      fermentum. Aenean porttitor, est vel placerat porta, risus ligula finibus
      ante, non sodales odio mauris ac urna. Vivamus non nisi sapien.
    </p>
    <Subscribe />
  </div>
</LayoutBlog>
