---
import CardPost from "../post/cardPost.astro";
---

<ul class="gap-6 flex flex-wrap items-start justify-start">
  <li>
    <CardPost
      cover={"/post.png"}
      author={"Ronald Santos Silva"}
      date={"29/08/25"}
      title={"As pessoas realmente podem mudar?"}
      desc={"Conheça mais da jornada de rendenção de Thorfinn"}
      category={"Animações"}
      slug={"/"}
    />
  </li>
  <li>
    <CardPost
      cover={"/post.png"}
      author={"Ronald Santos Silva"}
      date={"29/08/25"}
      title={"As pessoas realmente podem mudar?"}
      desc={"Conheça mais da jornada de rendenção de Thorfinn"}
      category={"Animações"}
      slug={"/"}
    />
  </li>
  <li>
    <CardPost
      cover={"/post.png"}
      author={"Ronald Santos Silva"}
      date={"29/08/25"}
      title={"As pessoas realmente podem mudar?"}
      desc={"Conheça mais da jornada de rendenção de Thorfinn"}
      category={"Animações"}
      slug={"/"}
    />
  </li>
</ul>
