---

---

<div class="flex flex-col gap-6 md:gap-8">
  <div class="flex flex-col gap-4 md:gap-6">
    <h1 class="text-4xl lg:text-5xl xl:text-6xl">O que é o Midquest?</h1>
    <p class="text-base md:text-lg lg:text-xl">
      O nome <strong>Midquest</strong> nasce da ideia de estar no <strong
        >meio da jornada.</strong
      >
      <br />
      <br />
      Este espaço é uma pausa no caminho, um lugar para revisitar mundos que fizeram
      e fazem parte das nossas vidas, compartilhar análises pessoais e encontrar
      novos significados em obras que já conhecemos, mas que nunca deixam de se transformar.
      <br />
      <br />
      <strong>Não é um guia de lançamentos ou notícias.</strong> É um convite para
      olhar com calma, resgatar a nostalgia, reparar nos detalhes e descobrir como
      essas histórias continuam ecoando em nossas próprias trajetórias.
    </p>
  </div>
  <img src="/hero-about.webp" alt="Sobre o Midquest" />
</div>
