---
import HeroAbout from "../components/about/heroAbout.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout>
  <div class="flex flex-col gap-12 xl:gap-24">
    <HeroAbout />
  </div>
</Layout>
