---
import Categorias from "../components/categorias.astro";
import Hero from "../components/home/hero.astro";
import RecentPosts from "../components/home/recentPosts.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout>
  <div class="flex flex-col gap-12 xl:gap-24">
    <Hero />
    <Categorias h2="Categorias do Blog" />
    <RecentPosts />
  </div>
</Layout>
