---

---

<div class="flex flex-col gap-6 md:gap-8">
  <div class="flex flex-col gap-4 md:gap-6">
    <h1 class="text-4xl lg:text-5xl xl:text-6xl">
      No meio da jornada, histórias ganham novos sentidos.
    </h1>
    <p class="text-base md:text-lg lg:text-xl lg:w-4/5">
      Aqui, você encontra reflexões, análises e memórias sobre filmes, séries,
      jogos, desenhos e arte em geral.
    </p>
  </div>
  <picture>
    <source
      srcset="/hero-home-380.webp 380w, /hero-home-760.webp 760w, /hero-home-1140.webp 1140w"
      type="image/webp"
    />
    <img
      src="/hero-home-380.jpg"
      alt="Midquest"
      width="380"
      height="105"
      class="w-full h-auto"
      fetchpriority="high"
    />
  </picture>
</div>
