---
import Button from "../button.astro";
import CardPostHome from "./cardPostHome.astro";
---

<div class="flex flex-col gap-8">
  <h2 class="text-xl lg:text-3xl font-semibold">Posts recentes</h2>
  <ul class="flex flex-wrap items-center gap-6 lg:gap-8">
    <li>
      <CardPostHome
        cover={"/post.png"}
        author={"Ronald Santos Silva"}
        date={"29/08/25"}
        title={"As pessoas realmente podem mudar?"}
        desc={"Conheça mais da jornada de rendenção de Thorfinn"}
        category={"Animações"}
        slug={"/"}
      />
    </li>
    <li>
      <CardPostHome
        cover={"/post.png"}
        author={"Ronald Santos Silva"}
        date={"29/08/25"}
        title={"As pessoas realmente podem mudar?"}
        desc={"Conheça mais da jornada de rendenção de Thorfinn"}
        category={"Animações"}
        slug={"/"}
      />
    </li>
    <li>
      <CardPostHome
        cover={"/post.png"}
        author={"Ronald Santos Silva"}
        date={"29/08/25"}
        title={"As pessoas realmente podem mudar?"}
        desc={"Conheça mais da jornada de rendenção de Thorfinn"}
        category={"Animações"}
        slug={"/"}
      />
    </li>
  </ul>
  <Button label={"Ver todos os posts"} link={"/blog"} />
</div>
