---
const { label, link, cover } = Astro.props;
---

<a
  href={link}
  class="flex gap-2 md:gap-4 p-2 pr-4 md:pr-6 items-center justify-center rounded-full border-2 border-boldborder hover:bg-gray cursor-pointer transition-all hover:text-white"
>
  <img class="w-8 md:w-9 image-cover rounded-full" src={cover} alt={label} />
  <span class="font-medium text-sm md:text-base">{label}</span>
</a>
