---

---

<div
  class="py-8 flex flex-col gap-12 md:gap-16 mx-auto max-w-5xl px-4 md:px-6 xl:px-0 items-center md:justify-between"
>
  <div
    class="w-full gap-8 flex flex-col md:flex-row items-center justify-between"
  >
    <a href="/"><img src="/logo-white.svg" alt="Logo Midquest" /></a>

    <a class="text-white" href="mailto:ronalddesign10@gmail.com"
      >Enviar sugestões</a
    >
  </div>
  <div
    class="w-full flex items-center justify-center pt-5 border-t-2 border-t-boldborder"
  >
    <a class="text-white" href="https://ronalddev.com.br" target="_blank"
      >Desenvolvido por <span class="text-blue">ronalddev.com.br</span></a
    >
  </div>
</div>
