---

---

<div id="menu" class="bg-white w-full h-80 fixed top-20 left-0 z-50 transition-all">
  <nav class="flex flex-col gap-8 text-2xl px-4 py-8">
    <a class="hover:font-bold active:font-bold transition-all" href="/">Home</a>
    <a class="hover:font-bold active:font-bold transition-all" href="/about"
      >Sobre</a
    >
    <a class="hover:font-bold active:font-bold transition-all" href="/blog"
      >Blog</a
    >
  </nav>
</div>
