---

---

<div class="flex flex-col gap-4 md:gap-6">
  <h1 class="text-4xl lg:text-5xl xl:text-6xl">
    Escolha um caminho e mergulhe na leitura.
  </h1>
  <p class="text-base md:text-lg lg:text-xl lg:w-4/5">
    Explore nossos artigos no seu ritmo. Navegue por categorias, escolha os
    temas que mais te interessam e aproveite a leitura.
  </p>
</div>
