---
import { AstroSEO } from "astro-seo-plugin";
import Header from "../components/header.astro";
import Footer from "../components/footer.astro";
---

<!doctype html>
<html lang="pt-BR">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>Midquest</title>

    <script src="https://cdn.brevo.com/js/sdk-loader.js" async></script>
    <script>
      (window as any).Brevo = (window as any).Brevo || [];
      (window as any).Brevo.push([
        "init",
        { client_key: "lu37riesyeqqvqjzf90uv2yv" },
      ]);
    </script>

    <!-- Google tag (gtag.js) -->
    <script
      type="text/partytown"
      async
      src="https://www.googletagmanager.com/gtag/js?id=G-K2N6ZR5M2B"></script>
    <script type="text/partytown">
      window.dataLayer = window.dataLayer || [];
      function gtag() {
        dataLayer.push(arguments);
      }
      gtag("js", new Date());

      gtag("config", "G-K2N6ZR5M2B");
    </script>

    <AstroSEO
      title="Midquest"
      description="Aqui, você encontra reflexões, análises e memórias sobre filmes, séries, jogos, desenhos e arte em geral."
      openGraph={{
        title: "Midquest",
        description:
          "Aqui, você encontra reflexões, análises e memórias sobre filmes, séries, jogos, desenhos e arte em geral.",
        image: "/opengraph.png",
        type: "website",
      }}
      jsonLd={{
        "@type": "WebSite",
        name: "Midquest",
        description:
          "Aqui, você encontra reflexões, análises e memórias sobre filmes, séries, jogos, desenhos e arte em geral.",
        url: "https://www.midquest.com.br",
      }}
      robots={{
        index: true,
        follow: true,
        noarchive: false,
        nosnippet: false,
        maxSnippet: 150,
      }}
      additionalLinkTags={[
        { rel: "canonical", href: "https://www.midquest.com.br" },
      ]}
      additionalMetaTags={[
        {
          name: "keywords",
          content:
            "blog, nerd, geek, jogos, animes, livros, filmes, séries, post, leitura, jogar",
        },
      ]}
    />
  </head>
  <body>
    <header>
      <Header />
    </header>
    <main
      class="py-12 md:py-16 mx-auto items-center justify-center max-w-5xl px-4 md:px-6 xl:px-0"
    >
      <slot />
    </main>
    <footer class="bg-gray">
      <Footer />
    </footer>
  </body>
</html>

<style>
  @import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap");
  body {
    margin: 0;
    width: 100%;
    height: 100%;
    font-family: "DM Sans", sans-serif;
    color: #161616;
    scroll-behavior: smooth;
  }
</style>
